body {
    background-color: #f5f7fa;
}

.container-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#metrics-table {
    border-collapse: collapse;
    margin-top: 10px;
}

#metrics-table th, #metrics-table td {
    padding: 8px;
    text-align: center;
}

#metrics-table th {
    color: #000;
    font-weight: bold;
}
